{% extends 'base.html' %}
{% load static %}

{% block title %}
  Favourites
{% endblock %}

{% block content %}
  <div class="container py-4">
    <h1 class="display-5 fw-bold text-start py-4">Ваши любимые книги</h1>

    <!-- Блок с последней книгой -->
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        {% if latest_book %}
          <h1 class="display-5 fw-bold">{{ latest_book.book.title }}</h1>
          <p class="col-md-8 fs-4">Автор: {{ latest_book.book.author }}</p>
          <p>Описание: {{ latest_book.book.description }}</p>
        {% else %}
          <p>У вас пока нет избранных книг.</p>
        {% endif %}
      </div>
    </div>

    <!-- Блок с остальными книгами -->
    <div class="row align-items-md-stretch">
      {% for favorite in other_books %}
        <div class="col-md-6">
          <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2>{{ favorite.book.title }}</h2>
            <p>Автор: {{ favorite.book.author }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
